:root{
    --white: #ffffff;
    --black: #000000;

    --accent-55: #FFD11A;
    --accent-60: #FFD633;
    --accent-70: #FFE066;
    --accent-80: #FFEB99;
    --accent-90: #FFF5CC;

    --black-08: #141414;
    --black-10: #1a1a1a;
    --black-15: #262626;
    --black-20: #333333;
    --black-25: #404040;
    --black-30: #4d4d4d;
    --black-35: #595959;

    --gray-50: #7e7e81;
    --gray-60: #98989a;
    --gray-70: #b3b3b3;
    --gray-80: #cccccc;
    --gray-90: #e4e4e4;
    
}

.container{
    
}

.h1, h1{

}

.h2, h2{
    
}

.h3, h3{

}

.h4, h4{
    
}

.h5, h5{
    
}

.h6, h6{
    
}

.button{
    
}